# List of used packages
wheel
setuptools
sphinx==8.2.3
sphinx-rtd-theme==3.0.2
sphinx_mdinclude==0.6.2
myst-parser==4.0.1
imageio==2.9.0
matplotlib==3.10.1
numpy==2.2.4
scipy==1.15.2
seaborn==0.13.2
visvis==1.15.0
xlrd==2.0.1
xlsxwriter==3.2.2
tqdm==4.67.1
jaxtyping==0.3.7